html {
    font-family: 'News Cycle', serif;
    background-color: #5e5e5e;
}

body {
    overflow-y: scroll;
}

footer {
    padding: 7rem 0 2rem;
}

label {
    font-weight: bolder;
    font-size: 1.1rem;
}

.main-card {
    margin: 0 auto;
    max-width: 75ch;
}

.message {
    color: darkred;
    font-weight: bolder;
}

.navbar-brand-image {
    max-height: 2rem;
}

.updated-details {
    margin-top:2rem;
    color: grey;
    font-style: italic;
}

.watch-list-card {
    margin: 0 auto;
    width: 50ch;
}

.watch-photo-main {
    width: 100%;
}

.watch-photo-edit-preview {
    box-shadow: 3px 3px 5px lightgrey;
    border-radius: 7px;
    border: 1px solid grey;
    width: 100%;
}

.watch-photo-list-preview {
    max-width: 50px;
    border-radius: 4px;
    border: 1px solid grey;
}