<form method="post" action="/watches/add" enctype="multipart/form-data">
    <div class="form-group">
        <label for="brand">Brand</label><br>
        <input type="text" name="brand" class="form-control" required><br>
    </div>
    <div class="form-group">
        <label for="model">Model</label><br>
        <input type="text" name="model" class="form-control" required><br>
    </div>
    <div class="form-group">
        <label for="year">Year</label><br>
        <input type="number" min="1899" class="form-control" max="2040" step="1" name="year" required><br>
    </div>
    <div class="form-group">
        <label for="color">Color</label><br>
        <input type="text" name="color" class="form-control" required><br>
    </div>
    <div class="form-group">
        <label for="description">Description</label><br>
        <textarea name="description" class="form-control" cols="30" rows="10"></textarea><br>
    </div>
    <div class="form-group">
        <label for="price">Price</label><br>
        <input type="number" name="price" class="form-control" min="0.01" step="0.01" required><br>
    </div>
    <div class="form-group">
        <label for="picturePath">Picture</label><br>
        <input type="file" name="picturePath" class="form-control" accept="image/png, image/jpeg"><br>
    </div>
    <div class="form-group">
        <label for="hidden">Hidden?</label>
        <input type="checkbox" name="hidden"><br>
    </div>
    <br>
    <input type="submit" value="Save" class="btn btn-lg btn-success">
    <a href="/" class="btn btn-lg btn-secondary">Cancel</a>
</form>